.hero-main-container {
    /* border: 2px solid red; */
    margin: 50px auto;
    width: 70%;
    /* height: 350px; */
    background-color: rgba(255, 255, 255, 0.197);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.city-date-box {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.city-date-box p {
    font-size: 23px;
    font-weight: 700;
}

.city-date-box span {
    font-size: 13px;
}

.cloud-temp-box {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
}

.cloud-temp-box h1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Bounce Animation On Cloudy Icon */
.icon-bounce {
    animation: bounce 1.3s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(2);
    }

    50% {
        transform: translateY(-10px);
    }
}

.infor-box {
    /* margin: auto; */
    /* border: 2px solid black; */
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    /* height: 180px; */
}

.info {
    /* border: 1px solid black; */
    width: 130px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px black;
    /* text-align: center; */
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media (max-width: 900px) {
    .hero-main-container {
        width: 90%;
        /* height: auto; */
        padding: 20px;
    }

    .cloud-temp-box h1 {
        font-size: 40px;
    }

    .infor-box {
        width: 100%;
    }
}

/* ---------------- Mobile (max-width: 600px) ---------------- */
@media (max-width: 600px) {
    .hero-main-container {
        width: 95%;
        padding: 15px;
        gap: 15px;
        margin: 20px auto;
    }

    .city-date-box p {
        font-size: 20px;
    }

    .cloud-temp-box {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .cloud-temp-box h1 {
        font-size: 35px;
    }

    .infor-box {
        flex-direction: row;
        gap: 15px;
        width: 100%;
    }

    .info {
        width: 90%;
        height: 70px;

    }
}